.job-filter-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 3vw;
}

.field-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input,
select {
    
    margin-left:5px;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .job-filter-container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
       
    }
  
    .field-group {
      width: 100%; 
    }

    input{
        width: 70vw;
    }

    select{
        width:77vw;
    }
  }